<link href="stylesheets/views/abilityAnalysis.css" rel="stylesheet" type="text/css"/>
<div ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-container kt-grid__item kt-grid__item--fluid">
    <div class="kt-subheader kt-grid__item">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title"></h3>
        </div>
      </div>
    </div>
    <div class="kt-portlet">
      <div class="kt-portlet__body">
        <div class="filter-group">
          <div class="row filter">
            <div class="col-md-1">
              <h6 class="head">市场技术</h6>
            </div>
            <div class="col-md-10">
              <a href="javascript:;"
                 ng-repeat="technology in model.technologyList"
                 ng-click="onFilterTechnology(technology)"
                 ng-class="{'btn-brand': model.selectedTechnology.technologyID == technology.technologyID}"
                 class="btn btn-elevate btn-square btn-sm"
                 ng-bind="technology.technologyName"></a>
            </div>
          </div>
          <div class="filter-space"></div>
          <div class="row filter">
            <div class="col-md-1">
              <h6 class="head">学生</h6>
            </div>
            <div class="col-md-10">
              <a href="javascript:;"
                 ng-repeat="studentType in model.studentTypeList"
                 ng-click="onFilterStudent(studentType)"
                 ng-class="{'btn-brand': model.selectedStudentType.studentTypeID == studentType.studentTypeID}"
                 class="btn btn-elevate btn-square btn-sm"
                 ng-bind="studentType.studentTypeText"></a>
            </div>
          </div>
          <div class="filter-space"></div>
          <div class="row filter">
            <div class="col-md-1">
              <h6 class="head">电话号码</h6>
            </div>
            <div class="col-md-10">
              <input type="tel" maxlength="11" ng-model="model.cellphone" class="form-control cellphone">
              <button type="button" class="btn btn-secondary btn-elevate btn-icon btn-search"
                      ng-click="onFilterCellphone()"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-container kt-grid__item kt-grid__item--fluid">
    <div ng-cloak class="row" ng-if="model.totalCount > 0">
      <div class="col-xl-3" ng-repeat="data in model.dataList">
        <!--Begin::Portlet-->
        <div class="kt-portlet kt-portlet--height-fluid">
          <div class="kt-portlet__head kt-portlet__head--noborder">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
              </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
              <a class="kt-nav__link kt-widget__username kt-font-brand kt-font-bold"
                 href="/ability/detail?universityCode=\{{data.universityCode}}&schoolID=\{{data.schoolID}}&studentID=\{{data.studentID}}" target="_blank">
              <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>
              <span class="kt-nav__link-text">详细</span>
              </a>
<!--              <a href="#" class="btn btn-icon" data-toggle="dropdown">-->
<!--                <i class="flaticon-more-1 kt-font-brand"></i>-->
<!--              </a>-->
<!--              <div class="dropdown-menu dropdown-menu-right">-->
<!--                <ul class="kt-nav">-->
<!--                  <li class="kt-nav__item">-->
<!--                    <a href="/ability/detail?universityCode=\{{data.studentUniversityCode}}&schoolID=\{{data.studentSchoolID}}&studentID=\{{data.studentID}}" target="_blank" class="kt-nav__link">-->
<!--                      <i class="kt-nav__link-icon flaticon2-pie-chart-1"></i>-->
<!--                      <span class="kt-nav__link-text">详细分析</span>-->
<!--                    </a>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
            </div>
          </div>
          <div class="kt-portlet__body">
            <!--begin::Widget -->
            <div class="kt-widget kt-widget--user-profile-2">
              <div class="kt-widget__head">
                <div class="kt-widget__media">
                  <img class="kt-widget__img" src="/media/users/teacher_default.png" ng-if="data.studentPhoto.length == 0" alt="image">
                  <img class="kt-widget__img" ng-src="\{{data.studentPhoto}}" ng-if="data.studentPhoto.length > 0" alt="image">
                </div>
                <div class="kt-widget__info">
                <span class="kt-widget__username">
                  <span ng-bind="data.studentName"></span>
                  <span ng-bind="data.abilityLevel"
                        class="ability-level"
                        ng-class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}"></span>
                </span>
                <span class="kt-widget__desc">
                  超越站内<span class="position-site" ng-bind="data.positionSite"></span>的同学
                </span>
                  <span class="kt-widget__desc">
                  已被<span class="position-site">0</span>家企业关注
                </span>
                </div>
              </div>
              <div class="kt-widget__body">
                <div class="kt-widget__section">
                  <div>
                    <span>掌握知识点</span>
                    <span class="kt-widget12__stat learning-percent-text finish-knowledge-percent kt-font-bold" ng-bind="data.finishKnowledgePercent"></span>
                  </div>
                  <div class="progress kt-progress--sm">
                    <div class="progress-bar bg-success" role="progressbar" ng-style="{'width': data.finishKnowledgePercent}" style="width: \{{data.finishKnowledgePercent}%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="kt-widget__item">
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label">高校:</span>
                    <span class="kt-widget__data" ng-bind="data.universityName"></span>
                  </div>
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label">学院:</span>
                    <span class="kt-widget__data" ng-bind="data.schoolName"></span>
                  </div>
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label finish-exercises-count">练习题完成数量:</span>
                    <span class="kt-widget__data finish-exercises-count kt-font-bold" ng-bind="data.finishExercisesCount"></span>
                  </div>
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label once-compilation-success-rate">平均一次性编译通过率:</span>
                    <span class="kt-widget__data once-compilation-success-rate kt-font-bold" ng-bind="data.onceCompilationSuccessRate"></span>
                  </div>
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label once-run-success-rate">平均一次性运行正确率:</span>
                    <span class="kt-widget__data once-run-success-rate kt-font-bold" ng-bind="data.onceRunSuccessRate"></span>
                  </div>

                  <div class="kt-widget__contact">
                    <span class="kt-widget__label finish-comprehensive-exercises">综合练习完成数量:</span>
                    <span class="kt-widget__data finish-comprehensive-exercises kt-font-bold">0</span>
                  </div>
                  <div class="kt-widget__contact">
                    <span class="kt-widget__label finish-project-count">参与实战项目数量:</span>
                    <span class="kt-widget__data finish-project-count kt-font-bold">0</span>
                  </div>

                </div>
              </div>
            </div>

            <!--end::Widget -->
          </div>
        </div>

        <!--End::Portlet-->
      </div>
    </div>
    <div ng-cloak class="row" ng-if="model.totalCount > 0">
      <div class="col-xl-12">
        <!--begin:: Components/Pagination/Default-->
        <div class="kt-portlet">
          <div class="kt-portlet__body">
            <!--begin: Pagination-->
            <div class="kt-pagination kt-pagination--brand">
              <ul class="kt-pagination__links">
                <li class="kt-pagination__link--first" ng-click="onFirstPage()" ng-if="model.pageNumber > 1">
                  <a href="javascript:;" title="第一页"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                </li>
                <li class="kt-pagination__link--next" ng-click="onPrePage" ng-if="model.pageNumber > 1">
                  <a href="javascript:;" title="前一页"><i class="fa fa-angle-left kt-font-brand"></i></a>
                </li>

                <li ng-repeat="pageNumber in model.paginationArray"
                    ng-class="{'kt-pagination__link--active': model.pageNumber == pageNumber}"
                    ng-click="onPagination(pageNumber)">
                  <a href="javascript:;" ng-bind="pageNumber"></a>
                </li>

                <li class="kt-pagination__link--prev" ng-click="onNextPage()" ng-if="model.pageNumber < model.maxPageNumber">
                  <a href="javascript:;" title="下一页"><i class="fa fa-angle-right kt-font-brand"></i></a>
                </li>
                <li class="kt-pagination__link--last" ng-click="onLastPage()" ng-if="model.pageNumber < model.maxPageNumber">
                  <a href="javascript:;" title="最后一页"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                </li>

              </ul>
              <div class="kt-pagination__toolbar">
              <span class="pagination__desc">
                显示第<span ng-bind="model.fromIndex"></span>到第<span ng-bind="model.toIndex"></span>条数据，共计<span ng-bind="model.totalCount"></span>条数据
              </span>
              </div>
            </div>

            <!--end: Pagination-->
          </div>
        </div>

        <!--end:: Components/Pagination/Default-->
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/abilityAnalysis.js');
  });
</script>