<link href="/stylesheets/views/courseDetail.css" rel="stylesheet" type="text/css"/>
<div class="kt-container kt-grid__item kt-grid__item--fluid" ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-subheader kt-grid__item">
    <div class="kt-container">
      <div class="kt-subheader__main">
        <h3 class="kt-subheader__title"></h3>
      </div>
    </div>
  </div>

  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <div class="kt-widget kt-widget--user-profile-3">
        <div class="kt-widget__top">
          <div class="kt-widget__media">
            <a href="javascript:" ng-click="onOpenTechnologyInfo(model.courseInfo.technologyID)">
              <img ng-src="\{{model.courseInfo.technologyThumbnail}}" alt="image">
            </a>
          </div>
          <div class="kt-widget__content">
            <div class="kt-widget__head">
              <h4>
                <span ng-bind="model.courseInfo.courseName"></span>
                <span class="kt-badge kt-badge--inline " 
                      ng-class="{'kt-badge--info': model.courseInfo.dataStatus == '0', 'kt-badge--success': model.courseInfo.dataStatus == '1', 'kt-label-bg-color-1 font-color-white': model.courseInfo.dataStatus == '2'}" 
                      ng-bind="model.courseInfo.dataStatusText"></span>
              </h4>
              
              <div class="kt-widget__action">

                

                <button type="button"
                        id="btnFinishCourse"
                        class="btn btn-primary"
                        ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus == '1'"
                        ng-click="onFinishCourse()"> 授课结束
                </button>&nbsp;

              </div>
            </div>
            <div class="kt-widget__subhead">
              <span>
                <i class="fa fa-home"></i>
                <span ng-bind="model.courseInfo.universityName"></span>
              </span> &nbsp;
              <span>
                <i class="fa fa-graduation-cap"></i>
                <span ng-bind="model.courseInfo.schoolName"></span>
              </span> &nbsp;
              <span>
                <i class="fa fa-chalkboard-teacher"></i>
                <span ng-bind="model.courseInfo.teacherName"></span>
              </span>
            </div>
            <div class="kt-widget__info">
              <div class="kt-widget__desc course-decs-3" title="\{{model.courseInfo.courseIntroduction}}"
                   ng-bind="model.courseInfo.courseIntroduction"></div>
              <div class="kt-widget__stats d-flex align-items-center flex-fill">
                <div class="kt-widget__item kt-padding-t-0">
                  <span class="kt-widget__date text-center">
                    开始时间
                  </span>
                  <div class="kt-widget__label">
                    <span class="btn btn-label-brand btn-sm btn-bold btn-upper"
                          ng-bind="model.courseInfo.courseTimeBegin"></span>
                  </div>
                </div>
                <div class="kt-widget__item kt-padding-t-0">
                  <span class="kt-widget__date text-center">
                    结束时间
                  </span>
                  <div class="kt-widget__label">
                    <span class="btn btn-label-danger btn-sm btn-bold btn-upper"
                          ng-bind="model.courseInfo.courseTimeEnd"></span>
                  </div>
                </div>
                <div class="kt-widget__item flex-fill kt-padding-t-0">
                  <span class="kt-widget__subtitel">课程进度</span>
                  <div class="kt-widget__progress d-flex  align-items-center">
                    <div class="progress" style="height: 5px;width: 100%;">
                      <div class="progress-bar kt-bg-success"
                           role="progressbar"
                           ng-style="{'width': model.courseInfo.courseProcess}"
                           aria-valuenow="100"
                           aria-valuemin="0"
                           aria-valuemax="100"></div>
                    </div>
                    <span class="kt-widget__stat" ng-bind="model.courseInfo.courseProcess"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="kt-widget__bottom">
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="fa fa-handshake"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">使用企业</span>
              <span class="kt-widget__value" ng-bind="model.courseInfo.courseTechnologyUsingCompanyCount"></span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-list-3"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">覆盖知识点</span>
              <span class="kt-widget__value" ng-bind="model.courseInfo.courseKnowledgeCount"></span>/<span
                    class="kt-widget__value" ng-bind="model.courseInfo.technologyKnowledgeCount"></span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-list"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">随堂练习</span>
              <span class="kt-widget__value" ng-bind="model.courseInfo.courseKnowledgeExercisesCount">
              </span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon2-user"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">报名学生</span>
              <span class="kt-widget__value" ng-bind="model.courseInfo.courseSingUpCount">
              </span>
            </div>
          </div>
          <div class="kt-widget__item">
            <div class="kt-widget__icon">
              <i class="flaticon-chat-1"></i>
            </div>
            <div class="kt-widget__details">
              <span class="kt-widget__title">在线提问</span>
              <span class="kt-widget__value" ng-bind="model.courseInfo.courseQuestionFinish"></span>/<span
                    class="kt-widget__value" ng-bind="model.courseInfo.courseQuestion"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-12">
      <div class="kt-portlet">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              课程详细信息
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body">
          <ul class="nav nav-tabs  nav-tabs-line tab-course-detail" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#kt_tabs_1">基本信息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_2" role="tab" aria-selected="false">课程表</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_3" role="tab" aria-selected="false">授课计划</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_4" role="tab" aria-selected="false">报名学生</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_5" role="tab" aria-selected="false">随堂练习</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_6" role="tab" aria-selected="false">批改练习</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#kt_tabs_7" role="tab" aria-selected="false">在线答疑</a>
            </li>
          </ul>
          <div class="tab-content course-detail">
            <div class="tab-pane active" id="kt_tabs_1" role="tabpanel">
              <form name="baseForm" class="kt-form kt-form--label-right">
                <div class="kt-portlet__body">
                  <div class="form-group row">
                    <label for="example-text-input" class="col-2 col-form-label">课程名称</label>
                    <div class="col-10">
                      <input class="form-control"
                             type="text"
                             name="courseName"
                             ng-model="model.courseBaseInfo.courseName"
                             ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                             required>
                      <label class="col-form-label"
                             ng-if="!model.isLogin || model.loginUser.customerID != model.courseInfo.teacherID"
                             ng-bind="model.courseBaseInfo.courseName"></label>
                    </div>
                  </div>
                  <div class="form-group row"
                       ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID">
                    <label for="example-search-input" class="col-2 col-form-label">授课时间</label>
                    <div class="col-4">
                      <input class="form-control"
                             type="date"
                             name="courseTimeBegin"
                             ng-model="model.courseBaseInfo.courseTimeBegin"
                             ng-change="onBeginDateChange(model.courseBaseInfo.courseTimeBegin)"
                             required>
                    </div>
                    <div class="col-2">
                      <div class="form-group data-separate">～
                      </div>
                    </div>
                    <div class="col-4">
                      <input class="form-control" type="date" name="courseTimeEnd"
                             ng-model="model.courseBaseInfo.courseTimeEnd"
                             ng-change="onEndDateChange(model.courseBaseInfo.courseTimeEnd)" required>
                    </div>
                  </div>

                  <div class="form-group row"
                       ng-if="!model.isLogin || model.loginUser.customerID != model.courseInfo.teacherID">
                    <label for="example-search-input" class="col-2 col-form-label">授课时间</label>
                    <div class="col-10">
                      <label class="col-form-label"
                             ng-if="!model.isLogin || model.loginUser.customerID != model.courseInfo.teacherID"
                             ng-bind="model.courseBaseInfo.courseBeginDateFormat"></label>
                      ～
                      <label class="col-form-label"
                             ng-if="!model.isLogin || model.loginUser.customerID != model.courseInfo.teacherID"
                             ng-bind="model.courseBaseInfo.courseEndDateFormat"></label>
                    </div>
                  </div>


                  <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">课程简介</label>
                    <div class="col-10">
                      <textarea class="form-control"
                                rows="6"
                                maxlength="500"
                                name="courseIntroduction"
                                ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                                ng-model="model.courseBaseInfo.courseIntroduction"
                                required></textarea>
                      <p class="col-form-label"
                         ng-if="!model.isLogin || model.loginUser.customerID != model.courseInfo.teacherID"
                         ng-bind="model.courseBaseInfo.courseIntroduction"></p>
                    </div>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button"
                                class="btn btn-primary"
                                id="btnSaveCourseInfo"
                                ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                                ng-click="onSaveCourseInfo()"
                                ng-disabled="(baseForm.courseName.$dirty && baseForm.courseName.$invalid)
                                            || (baseForm.courseTimeBegin.$dirty && baseForm.courseTimeBegin.$invalid)
                                            || (baseForm.courseTimeEnd.$dirty && baseForm.courseTimeEnd.$invalid)
                                            || (baseForm.courseIntroduction.$dirty && baseForm.courseIntroduction.$invalid)
                                            || model.noFinishClassCount == 0">
                          保存基本信息
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_2" role="tabpanel">
              <form class="kt-form">
                <div class="kt-portlet__body" style="padding-top: 0">
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="width: 100%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0; border-bottom: none">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 15%"></th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 55%"></th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 15%">
                          <a href="javascript:;"
                             class="kt-font-brand kt-link kt-font-bold"
                             ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                             ng-click="onShowCourseScheduleModal()"><i class="fa fa-edit"></i>修改</a>
                        </th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="width: 100%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0;">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 15%">工作日</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 55%">授课节次</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                            style="width: 15%">操作
                        </th>
                      </tr>
                      </thead>
                      <tbody class="kt-datatable__body">
                      <tr class="kt-datatable__row" style="left: 0;"
                          ng-repeat="courseSchedule in model.courseScheduleList">
                        <td class="kt-datatable__cell text-center" style="width: 15%"
                            ng-bind="courseSchedule.weekday.dayText"></td>
                        <td class="kt-datatable__cell text-center" style="width: 55%">
                          <span ng-repeat="course in courseSchedule.schedule">\{{course.orderText}}(\{{course.time}})</span>
                        </td>
                        <td class="kt-datatable__cell text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                            style="width: 15%">
                          <button type="button"
                                  class="btn btn-secondary btn-sm"
                                  ng-click="onCancelSchedule($index)">取消
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button"
                                class="btn btn-primary"
                                id="btnSaveCourseSchedule"
                                ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                                ng-disabled="model.courseScheduleList.length == 0 || model.noFinishClassCount === 0"
                                ng-click="onSaveCourseSchedule()">保存课程表信息
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_3" role="tabpanel">
              <form class="kt-form">
                <div class="kt-portlet__body" style="padding-top: 0">
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="width: 100%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0; border-bottom: none">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%"></th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%"></th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 65%"></th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 15%">
                          <a href="javascript:;"
                             class="kt-font-brand kt-link kt-font-bold"
                             ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                             ng-click="onShowCoursePlanModal()"><i class="fa fa-edit"></i>修改</a>
                        </th>
                      </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="width: 85%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0;">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">节次</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">技术</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 52%">所授知识点
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 8%">状态</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                            style="width: 15%">操作
                        </th>
                      </tr>
                      </thead>
                      <tbody class="kt-datatable__body">
                      <tr class="kt-datatable__row" style="left: 0;" ng-repeat="coursePlan in model.coursePlanList">
                        <td class="kt-datatable__cell text-center" style="width: 10%">第\{{coursePlan.courseOrder}}节</td>
                        <td class="kt-datatable__cell text-center" style="width: 10%">\{{coursePlan.technologyName}}
                        </td>
                        <td class="kt-datatable__cell text-center" style="width: 52%">
                          <span ng-repeat="knowledgeName in coursePlan.knowledgeNameArray"
                                ng-bind="knowledgeName"></span>
                        </td>
                        <td class="kt-datatable__cell text-center" style="width: 8%">
                             <span class="kt-badge kt-badge--inline kt-badge--pill"
                                   style="color: #ffffff; display: inline-flex; "
                                   ng-class="{'kt-badge--primary': coursePlan.dataStatus == 'P', 'kt-badge--success': coursePlan.dataStatus == 'F'}"
                                   ng-bind="coursePlan.dataStatusText">
                            </span>
                        </td>

                        <td class="kt-datatable__cell text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                            style="width: 15%">
                          <button type="button"
                                  class="btn btn-secondary btn-sm"
                                  ng-click="onCancelPlan($index)"
                                  ng-if="coursePlan.dataStatus === 'P'">取消
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="button"
                                class="btn btn-primary"
                                id="btnSaveCoursePlan"
                                ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'"
                                ng-disabled="model.noFinishClassCount === 0"
                                ng-click="onSaveCoursePlan()">
                          保存授课计划信息
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_4" role="tabpanel">
              <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                   id="kt_apps_user_list_datatable" style="width: 100%; margin: 0 auto">
                <table class="kt-datatable__table kt-datatable__row--hover table-hover" style="display: block;">
                  <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0px;">
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 120px;">报名学生</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 130px;">报名时间</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 140px;">就读院校</span>
                      </th>
                      <th class="kt-datatable__cell kt-datatable__cell--sort">
                        <span style="width: 100px;">手机号码</span>
                      </th>
                      <th data-field="Status" class="kt-datatable__cell">
                        <span style="width: 100px;">入学年份</span>
                      </th>
                      <th data-field="Status" class="kt-datatable__cell">
                        <span style="width: 100px;">课程助教</span>
                      </th>
                      <th data-field="Status" class="kt-datatable__cell">
                        <span style="width: 100px;">报名状态</span>
                      </th>
                      <th data-field="Actions"
                          class="kt-datatable__cell"
                          ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'">
                        <span style="width: 100px;">操作</span>
                      </th>
                    </tr>

                  </thead>
                  <tbody class="kt-datatable__body" style="">
                  <tr class="kt-datatable__row" style="left: 0;" ng-repeat="data in model.dataList4SignUp">
                    <td class="kt-datatable__cell">
                      <span style="width: 120px;">
                        <div class="kt-user-card-v2">
                          <div class="kt-user-card-v2__pic">
                            <img class="kt-badge kt-badge--xl" src="/media/users/teacher_default.png"
                                 ng-if="data.studentPhoto == ''">
                            <img class="kt-badge kt-badge--xl" ng-src="\{{data.studentPhoto}}"
                                 ng-if="data.studentPhoto != ''">
                          </div>
                          <div class="kt-user-card-v2__details">
                            <span class="kt-user-card-v2__name" ng-bind="data.studentName"></span>
                                <span class="kt-user-card-v2__desc"
                                      ng-bind="data.abilityLevel"
                                      ng-class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}"></span>
                          </div>
                        </div>
                      </span>
                    </td>
                    <td class="kt-datatable__cell">
                      <span style="width: 130px;" ng-bind="data.createTime"></span>
                    </td>
                    <td class="kt-datatable__cell">
                      <span style="width: 140px;" ng-bind="data.studentUniversityName"></span>
                      <span style="width: 140px;" ng-bind="data.studentSchoolName"></span>
                    </td>
                    <td class="kt-datatable__cell">
                      <span style="width: 100px;" ng-bind="data.cellphone"></span>
                    </td>
                    <td class="kt-datatable__cell">
                      <span style="width: 100px;" ng-if="data.enrollmentYear !== ''">\{{data.enrollmentYear}}年</span>
                      <span style="width: 100px;" ng-if="data.enrollmentYear == ''">  </span>
                    </td>
                    <td class="kt-datatable__cell">
                      <span style="width: 100px;">
                        <span class="kt-badge kt-badge--dot kt-badge--danger" ng-if="data.assistant == 1"></span>&nbsp;
                        <span class="kt-font-bold ng-binding kt-font-danger" ng-if="data.assistant == 1">助教</span>
                      </span>
                    </td>
                    <td class="kt-datatable__cell">
                          <span style="width: 100px;">
                            <span class="kt-badge kt-badge--inline kt-badge--pill"
                                  ng-class="{'kt-badge--success': data.dataStatus == 'A', 'kt-badge--warning': data.dataStatus == 'C'}"
                                  ng-bind="data.dataStatusText"></span>
                          </span>
                    </td>
                    <td class="kt-datatable__cell"
                        ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID && model.courseInfo.dataStatus != '2'">
                      <span style="overflow: visible; position: relative; width: 110px;">
                          <button type="button"
                                  class="btn btn-danger btn-sm"
                                  ng-if="data.assistant == 0"
                                  ng-click="onChangeAssistant(data, 1)">
                            设为助教
                          </button>
                          <button type="button"
                                  class="btn btn-secondary btn-sm"
                                  ng-if="data.assistant == 1"
                                  ng-click="onChangeAssistant(data, 0)">
                            取消助教
                          </button>
                        </span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="kt-container kt-grid__item kt-grid__item--fluid kt-margin-t-15" ng-if="model.totalCount4SignUp > 0">
                <div class="kt-pagination kt-pagination--warning kt-pagination--circle">
                  <div class="kt-pagination__toolbar">
                    <span class="pagination__desc">
                      共有<span ng-bind="model.totalCount4SignUp"></span>名学生已报名，当前显示第<span ng-bind="model.fromIndex4SignUp"></span>到第<span
                                          ng-bind="model.toIndex4SignUp"></span>名学生
                    </span>
                  </div>
                  <ul class="kt-pagination__links">
                    <li class="kt-pagination__link--first" ng-class="{'pagination-disabled': model.prePageNum4SignUp == -1}">
                      <a href="javascript:" ng-click="onFirstPage4SignUp()"><i class="fa fa-angle-double-left kt-font-primary"></i></a>
                    </li>
                    <li class="kt-pagination__link--next" ng-class="{'pagination-disabled': model.prePageNum4SignUp == -1}">
                      <a href="javascript:" ng-click="onPrePage4SignUp()"><i class="fa fa-angle-left kt-font-primary"></i></a>
                    </li>

                    <li ng-repeat="pagination in model.paginationArray4SignUp" ng-class="{'kt-pagination__link--active': model.pageNumber4SignUp == pagination}">
                      <a href="javascript:" ng-bind="pagination" ng-click="onPagination4SignUp(pagination)"></a>
                    </li>

                    <li class="kt-pagination__link--prev" ng-class="{'pagination-disabled': model.nextPageNum4SignUp == -1}">
                      <a href="javascript:" ng-click="onNextPage4SignUp()"><i class="fa fa-angle-right kt-font-primary"></i></a>
                    </li>
                    <li class="kt-pagination__link--last" ng-class="{'pagination-disabled': model.nextPageNum4SignUp == -1}">
                      <a href="javascript:" ng-click="onNextPage4SignUp()"><i class="fa fa-angle-double-right kt-font-primary"></i></a>
                    </li>
                  </ul>
                </div>
              </div>



            </div>
            <div class="tab-pane" id="kt_tabs_5" role="tabpanel">
              <form class="kt-form">
                <div class="kt-portlet__body" style="padding-top: 0">
                  <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded"
                       style="width: 85%; margin: 0 auto">
                    <table class="kt-datatable__table" style="display: block;">
                      <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0;">
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">节次</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 10%">技术</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 45%">覆盖知识点
                        </th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center" style="width: 20%">习题库数量</th>
                        <th class="kt-datatable__cell kt-datatable__cell--sort text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                            style="width: 15%">操作
                        </th>
                      </tr>
                      </thead>
                      <tbody class="kt-datatable__body">
                      <tr class="kt-datatable__row" style="left: 0;" ng-repeat="exercises in model.exercisesList">
                        <td class="kt-datatable__cell text-center" style="width: 10%">第\{{exercises.courseClass}}节</td>
                        <td class="kt-datatable__cell text-center" style="width: 10%">\{{exercises.technologyName}}</td>
                        <td class="kt-datatable__cell text-center" style="width: 45%">
                          <span ng-repeat="knowledge in exercises.knowledgeList"
                                ng-bind="knowledge.knowledgeName"></span>
                        </td>
                        <td class="kt-datatable__cell text-center" style="width: 20%">
                          <a href="javascript:;" class="kt-widget__value kt-font-brand"
                             ng-if="exercises.exercisesTotalCount > 0"
                             ng-click="onShowExercisesModal(exercises.courseClass)">共计\{{exercises.exercisesTotalCount}}个编程练习</a>
                          <span ng-if="exercises.exercisesTotalCount == 0">共计\{{exercises.exercisesTotalCount}}个编程练习</span>
                        </td>

                        <td class="kt-datatable__cell text-center"
                            ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                            style="width: 15%">
                          <button type="button"
                                  id="btnAssignExercises\{{exercises.courseClass}}"
                                  class="btn btn-info btn-sm" ng-click="onShowAssignExercisesModal(exercises)"
                                  ng-if="exercises.dataStatus === 'P' && exercises.exercisesTotalCount > 0 && model.courseInfo.dataStatus == '1' && model.courseInfo.courseSingUpCount > 0">
                            下发练习
                          </button>

                          <button type="button" class="btn btn-secondary btn-hover-brand btn-sm"
                                  ng-click="onFinishClass(exercises)"
                                  ng-if="exercises.dataStatus === 'P' && exercises.exercisesTotalCount == 0 && model.courseInfo.dataStatus == '1' && model.courseInfo.courseSingUpCount > 0">
                            结束本节
                          </button>
                          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success"
                                style="color: #ffffff; display: inline-flex; "
                                ng-if="exercises.dataStatus === '2' && exercises.exercisesTotalCount > 0">练习已下发</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success"
                                style="color: #ffffff; display: inline-flex; "
                                ng-if="exercises.dataStatus === '2' && exercises.exercisesTotalCount === 0">已结束</span>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="kt_tabs_6" role="tabpanel">
              <div class="shs-search-bar shs-top-line shs-under-line kt-padding-5">
                <form class="kt-form kt-form--label-right">
                  <div class="kt-portlet__body kt-padding-0">
                    <div class="form-group row kt-margin-0">
                      <label class="col-form-label col-xl-1 col-sm-12 text-center">状态过滤：</label>
                      <div class="col-md-5 shs-padding-top-2">
                        <a href=""
                           class="btn btn-elevate btn-square btn-sm"
                           ng-class="{'btn-primary': model.filterStatus == 'NULL', 'btn-primary-hover-info': model.filterStatus != 'NULL'}"
                           ng-click="onFilterCourseStudentExercises('NULL')">
                          全部
                        </a>
                        <a href=""
                           class="btn btn-elevate btn-square btn-sm"
                           ng-class="{'btn-primary': model.filterStatus == 'P', 'btn-primary-hover-info': model.filterStatus != 'P'}"
                           ng-click="onFilterCourseStudentExercises('P')">
                          未完成
                        </a>
                        <a href=""
                           class="btn btn-outline-hover-info btn-elevate btn-square btn-sm"
                           ng-class="{'btn-primary': model.filterStatus == 'W', 'btn-primary-hover-info': model.filterStatus != 'W'}"
                           ng-click="onFilterCourseStudentExercises('W')">
                          待批改
                        </a>
                        <a href=""
                           class="btn btn-outline-hover-info btn-elevate btn-square btn-sm"
                           ng-class="{'btn-primary': model.filterStatus == 'R', 'btn-primary-hover-info': model.filterStatus != 'R'}"
                           ng-click="onFilterCourseStudentExercises('R')">
                          待修改
                        </a>
                        <a href=""
                           class="btn btn-outline-hover-info btn-elevate btn-square btn-sm"
                           ng-class="{'btn-primary': model.filterStatus == 'S', 'btn-primary-hover-info': model.filterStatus != 'S'}"
                           ng-click="onFilterCourseStudentExercises('S')">
                          已通过
                        </a>
                      </div>
                      <div class="col-md-6 shs-padding-top-2">
                        <div class="kt-input-icon kt-input-icon--right kt-pull-right" style="width: 400px">
                          <input type="text" class="form-control" ng-model="model.filterStudentName"
                            ng-keydown="onOtherExercisesKeydown($event)" placeholder="输入姓名，按姓名与状态联合查询">
                          <span class="kt-input-icon__icon kt-input-icon__icon--right">
                            <span><i class="la la-search"></i></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" style="width: 100%; margin: 0 auto">
                <table class="kt-datatable__table" style="display: block;">
                  <thead class="kt-datatable__head">
                  <tr class="kt-datatable__row" style="left: 0px;">
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 140px;">学生</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 130px;">就读院校</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 60px;">节次</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 130px;">知识点</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 150px;">习题</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 120px;">提交时间</span>
                    </th>
                    <th class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 80px;">批改人</span>
                    </th>
                    <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 60px;">当前状态</span>
                    </th>
                    <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort">
                      <span style="width: 100px;">操作</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody class="kt-datatable__body" style="">
                    <tr class="kt-datatable__row" style="left: 0;" ng-repeat="data in model.dataList4Exercises">
                      <td class="kt-datatable__cell">
                            <span style="width: 140px;">
                              <div class="kt-user-card-v2">
                                <div class="kt-user-card-v2__pic">
                                  <img class="kt-badge kt-badge--xl" src="/media/users/teacher_default.png"
                                       ng-if="data.studentPhoto == ''">
                                  <img class="kt-badge kt-badge--xl" ng-src="\{{data.studentPhoto}}"
                                       ng-if="data.studentPhoto != ''">
                                </div>
                                <div class="kt-user-card-v2__details">
                                  <span class="kt-user-card-v2__name" ng-bind="data.studentName"></span>
                                <span class="kt-user-card-v2__desc"
                                      ng-bind="data.abilityLevel"
                                      ng-class="{'ability-level-1': data.abilityLevel == 'L1', 'ability-level-2': data.abilityLevel == 'L2', 'ability-level-3': data.abilityLevel == 'L3', 'ability-level-4': data.abilityLevel == 'L4', 'ability-level-5': data.abilityLevel == 'L5', 'ability-level-6': data.abilityLevel == 'L6', 'ability-level-7': data.abilityLevel == 'L7', 'ability-level-8': data.abilityLevel == 'L8'}"></span>
                                </div>
                              </div>
                            </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 130px;">
                          \{{data.studentUniversityName}} <br> \{{data.studentSchoolName}}
                        </span>
                      </td>

                      <td class="kt-datatable__cell">
                        <span style="width: 60px;">第\{{data.courseClass}}节</span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 130px;" ng-bind="data.knowledgeName"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"  >
                          <a ng-href="\{{data.exercisesDocumentUrl}}"
                             target="_blank"
                             title="\{{data.exercisesDocumentUrl}}"
                             class="kt-widget4__title"
                             ng-bind="data.exercisesDocumentUrl.substr(data.exercisesDocumentUrl.lastIndexOf('/') + 1)"></a>
                        </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 120px;" ng-if="data.dataStatus == 'P'">&nbsp;</span>
                        <span style="width: 120px;" ng-bind="data.updateTime" ng-if="data.dataStatus != 'P'"></span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span style="width: 80px;" ng-if="data.reviewerType == 'T'" ng-bind="data.reviewerNameTeacher"></span>
                        <span style="width: 80px;" ng-if="data.reviewerType == 'S'" ng-bind="data.reviewerNameStudent"></span>
                        <span style="width: 80px;" ng-if="data.reviewerType == null">&nbsp;</span>
                      </td>
                      <td class="kt-datatable__cell">
                            <span style="width: 60px;">
                              <span class="kt-badge kt-badge--inline kt-badge--pill"
                                    ng-class="{'kt-badge--primary': data.dataStatus == 'P', 'kt-badge--warning': data.dataStatus == 'W', 'kt-badge--danger': data.dataStatus == 'R', 'kt-badge--success': data.dataStatus == 'S'}"
                                    ng-bind="data.dataStatusText">
                              </span>
                            </span>
                      </td>
                      <td class="kt-datatable__cell">
                        <span ng-if="data.dataStatus == 'W'" style="width: 100px;">
                          <a href="javascript:;"
                             title="批改练习"
                             class="btn btn-sm btn-clean btn-icon btn-icon-md"
                             ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                             ng-click="onShowReview(data)">
                            <i class="la la-edit"></i>
                          </a>
                          <a href="javascript:;" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md" ng-click="onShowReviewHistory(data)">
                            <i class="la la-search"></i>
                          </a>
                        </span>
                        <span ng-if="data.dataStatus == 'R' || data.dataStatus == 'S'" style="width: 100px;">
                          <a href="javascript:;" title="批改历史" class="btn btn-sm btn-clean btn-icon btn-icon-md" ng-click="onShowReviewHistory(data)">
                            <i class="la la-search"></i>
                          </a>
                        </span>
                        <span style="overflow: visible; position: relative; width: 100px;" ng-if="data.dataStatus == 'P'">
                          &nbsp;
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="kt-container kt-grid__item kt-grid__item--fluid kt-margin-t-15" ng-if="model.totalCount4Exercises > 0">
                  <div class="kt-pagination kt-pagination--warning kt-pagination--circle">
                    <div class="kt-pagination__toolbar">
                      <span class="pagination__desc">
                        共查询到<span ng-bind="model.totalCount4Exercises"></span>个满足条件的学生随堂练习，当前显示第<span ng-bind="model.fromIndex4Exercises"></span>到第<span
                                            ng-bind="model.toIndex4Exercises"></span>个练习
                      </span>
                    </div>
                    <ul class="kt-pagination__links">
                      <li class="kt-pagination__link--first" ng-class="{'pagination-disabled': model.prePageNum4Exercises == -1}">
                        <a href="javascript:" ng-click="onFirstPage4Exercises()"><i class="fa fa-angle-double-left kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--next" ng-class="{'pagination-disabled': model.prePageNum4Exercises == -1}">
                        <a href="javascript:" ng-click="onPrePage4Exercises()"><i class="fa fa-angle-left kt-font-primary"></i></a>
                      </li>

                      <li ng-repeat="pagination in model.paginationArray4Exercises" ng-class="{'kt-pagination__link--active': model.pageNumber4Exercises == pagination}">
                        <a href="javascript:" ng-bind="pagination" ng-click="onPagination4Exercises(pagination)"></a>
                      </li>

                      <li class="kt-pagination__link--prev" ng-class="{'pagination-disabled': model.nextPageNum4Exercises == -1}">
                        <a href="javascript:" ng-click="onNextPage4Exercises()"><i class="fa fa-angle-right kt-font-primary"></i></a>
                      </li>
                      <li class="kt-pagination__link--last" ng-class="{'pagination-disabled': model.nextPageNum4Exercises == -1}">
                        <a href="javascript:" ng-click="onLastPage4Exercises()"><i class="fa fa-angle-double-right kt-font-primary"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>

            </div>
            <div class="tab-pane" id="kt_tabs_7" role="tabpanel">
              <div class="alert alert-secondary" role="alert" ng-if="model.courseQuestion.totalCount == 0">
                <div class="alert-text text-center">
                  暂时还没有学生咨询该课程的相关问题。
                </div>
              </div>

              <div class="kt-notes kt-scroll kt-scroll--pull ps ps--active-y" ng-if="model.courseQuestion.totalCount > 0">
                <div class="kt-notes__items">
                  <div class="kt-notes__item" ng-repeat="question in model.courseQuestion.dataList">
                    <div class="kt-notes__media">
                      <img ng-src="\{{question.questionerPhoto}}" ng-if="question.questionerPhoto.length > 0">
                      <img src="/media/users/teacher_default.png" ng-if="question.questionerPhoto.length == 0">
                    </div>
                    <div class="kt-notes__content">
                      <div class="kt-notes__section">
                        <div class="kt-notes__info">
                          <a href="javascript:;" class="kt-notes__title" ng-bind="question.questionerName"></a>
                          <span class="kt-notes__desc" ng-bind="question.createTime"></span>
                          <span class="kt-badge kt-badge--success kt-badge--inline" ng-if="question.leaveMessageList.length > 0">已回复</span>
                        </div>
                        <div class="kt-notes__dropdown">
                          <a href="javascript:;"
                             title="问题回复"
                             class="btn btn-sm btn-icon-md btn-icon"
                             ng-if="model.isLogin && model.loginUser.customerID == model.courseInfo.teacherID"
                             ng-click="onShowLeaveMessageModal(question)">
                            <i class="fa fa-comment-dots kt-font-brand"></i>
                          </a>
                        </div>
                      </div>
                      <span class="kt-notes__body">
                        <p class="question" ng-bind-html="question.questionContent"></p>
                        <div class="leave-message" ng-repeat="leaveMessage in question.leaveMessageList" style="padding-top: 10px; border-bottom: 1px dashed #cccccc">
                          <span ng-bind="leaveMessage.commenterName"></span>
                          <span ng-bind="leaveMessage.commenterTypeText"></span>
                          &nbsp;
                          <span ng-bind="leaveMessage.createTime"></span> <br>
                          <p ng-bind-html="leaveMessage.messageContent"></p>
                        </div>
                      </span>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="button"
                            class="btn btn-link"
                            ng-if="model.courseQuestion.dataList.length < model.courseQuestion.totalCount"
                            ng-click="onLoadMoreCourseQuestion()">
                      + 加载更多
                    </button>
                  </div>

                </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form name="courseScheduleForm">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">修改课程表</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6 separator--border-right">
                <div class="form-group">
                  <label>每周哪天授课</label>
                  <div class="kt-radio-list">
                    <label class="kt-radio" ng-repeat="weekday in model.weeklyDayList">
                      <input type="radio" name="weekday" ng-click="onChooseWeeklyDay(weekday)">
                      \{{weekday.dayText}}
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>哪几节课授课</label>
                  <div class="kt-checkbox-list">
                    <label class="kt-checkbox" ng-repeat="course in model.courseList">
                      <input type="checkbox" name="courseTime" ng-click="onChooseCourse(course)">
                      \{{course.orderText}}（\{{course.time}}）
                      <span></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" ng-click="onSelectCourseSchedule()"
                    ng-disabled="model.selectWeekday == null || model.selectCourseList.length == 0">确定
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>

    <div class="modal fade" id="kt_modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改授课计划(一门课程最多可创建300节课)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <form name="coursePlanForm" novalidate>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="dropdown search-form-dropdown">
                    <input type="text"
                           class="form-control"
                           ng-model="model.courseInfo.technologyName"
                           disabled
                           required>
                  </div>
                </div>

                <div class="form-group">
                  <input type="number" class="form-control" min="1" max="300" maxlength="3" ng-model="model.courseOrder"
                         placeholder="请输入第几节课" required>
                </div>

                <div class="form-group">
                  <div class="dropdown search-form-dropdown">
                    <button class="btn btn-secondary" type="button" data-toggle="dropdown">
                      <span ng-bind="model.selectedLearningPhase.learningPhaseName"></span>
                      <i class="flaticon2-down"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start">
                      <a ng-repeat="data in model.learningPhaseList"
                         class="dropdown-item"
                         href="javascript:;"
                         ng-click="onLearningPhase(data)"
                         ng-bind="data.learningPhaseName"></a>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>这节课所包含的知识点</label>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="kt-checkbox-list">
                        <label class="kt-checkbox" ng-repeat="knowledge in model.knowledgeList">
                          <input type="checkbox" name="technologyKnowledge"
                                 ng-click="onChooseKnowledge(knowledge,$event)"> \{{knowledge.knowledgeName}}
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>第<span class="kt-font-danger font-weight-bolder"
                                ng-bind="model.courseOrder"></span>节课讲授的知识点</label>
                  <div class="kt-notification kt-notification--fit">

                    <div class="kt-notification__item" ng-repeat="courseKnowledge in model.courseKnowledgeList">
                      <div class="kt-notification__item-icon course-knowledge-technology">
                        <img ng-src="\{{courseKnowledge.technologyThumbnailSquare}}">
                      </div>
                      <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title" ng-bind="courseKnowledge.knowledgeName">
                        </div>
                        <div class="kt-notification__item-time" ng-bind="courseKnowledge.learningPhaseName">
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" ng-click="onSetCoursePlan()" ng-disabled="
                                                                                 model.courseOrder == undefined
                                                                              || model.selectedLearningPhase.learningPhaseID == 0
                                                                              || model.courseKnowledgeList.length == 0">
              确定
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>

    <div class="modal fade" id="kt_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">第\{{model.exercisesCourseClass}}节课练习题</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <form name="courseExercisesForm" novalidate>
            <div class="modal-body">
              <div class="kt-portlet ">
                <div class="kt-portlet__body">
                  <!--begin::Accordion-->
                  <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">

                    <div class="card" ng-repeat="knowledge in model.courseExercisesFilterList">
                      <div class="card-header" id="headingOne\{{$index}}">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseOne\{{$index}}">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                               height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                              <polygon points="0 0 24 0 24 24 0 24"></polygon>
                              <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z"
                                    fill="#000000" fill-rule="nonzero"></path>
                              <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z"
                                    fill="#000000" fill-rule="nonzero" opacity="0.3"
                                    transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                            </g>
                          </svg>
                          <span ng-bind="knowledge.knowledgeName"></span>
                        </div>
                      </div>
                      <div id="collapseOne\{{$index}}" class="collapse" style="">
                        <div class="card-body">
                          <div class="kt-widget4" ng-repeat="knowledgeExercises in knowledge.knowledgeExercisesList">
                            <div class="kt-widget4__item">
                              <div class="kt-widget4__pic kt-widget4__pic--icon">
                                <img src="/media/files/pdf.svg" alt="">
                              </div>
                              <a ng-href="\{{knowledgeExercises.documentUrl}}"
                                 target="_blank"
                                 class="kt-widget4__title"
                                 ng-bind="knowledgeExercises.documentUrl.substr(knowledgeExercises.documentUrl.lastIndexOf('/') + 1)">
                              </a>
                              <div class="kt-widget4__tools">
                                <a ng-href="\{{knowledgeExercises.answerUrl}}" target="_blank" class="btn btn-clean">
                                  参考示例
                                </a>
                              </div>
                            </div>
                          </div>


                        </div>
                      </div>
                    </div>
                  </div>

                  <!--end::Accordion-->
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document" style="max-width: 550px">
      <div class="modal-content">
        <form name="reviewForm">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">练习批改</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body shs-form-label">
            <div class="kt-section">
              <h3 class="kt-section__title">
                学生信息
              </h3>
              <div class="kt-section__content">
                <div class="row">
                  <div class="col-3 text-right">
                    <span>姓名：</span>
                  </div>
                  <div class="col-9">
                    <span ng-bind="model.reviewData.studentName"></span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-right">
                    <span>院校：</span>
                  </div>
                  <div class="col-9">
                    <span>
                      \{{model.reviewData.studentUniversityName}}
                      \{{model.reviewData.studentSchoolName}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-right">
                    <span>练习内容：</span>
                  </div>
                  <div class="col-9">
                    <span>
                      \{{model.reviewData.technologyName}}
                      \{{model.reviewData.learningPhaseName}}
                      \{{model.reviewData.knowledgeName}}
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-right">
                    <span>练习作业：</span>
                  </div>
                  <div class="col-9">
                    <a ng-href="\{{model.reviewData.exercisesDocumentUrl}}"
                       target="_blank"
                       class="kt-widget__username kt-font-brand kt-link kt-font-bold"
                       ng-bind="model.reviewData.exercisesDocumentName">
                    </a>
                    &nbsp;
                    <a ng-href="\{{model.reviewData.exercisesAnswerUrl}}"
                       target="_blank"
                       class="kt-widget__username kt-font-brand kt-link kt-font-bold">
                      参看示例
                    </a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3 text-right">
                    <span>提交时间：</span>
                  </div>
                  <div class="col-9">
                    <span ng-bind="model.reviewData.updateTime"></span> &nbsp;
                    <a ng-href="\{{model.reviewData.sourceCodeGitUrl}}"
                       target="_blank"
                       class="kt-widget__username kt-font-brand kt-link kt-font-bold">
                      查看作业
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-separator kt-separator--dashed"></div>
            <div class="kt-section">
              <h3 class="kt-section__title">
                练习批改
              </h3>
              <div class="kt-section__content">
                  <div class="row">
                    <div class="col-3 text-right">
                      <span>编译结果：</span>
                    </div>
                    <div class="col-9">
                      <div class="kt-radio-inline">
                        <label class="kt-radio">
                          <input type="radio"
                                 name="compilation"
                                 value="1"
                                 ng-checked="model.reviewData.compilationResult == 1"
                                 ng-model="model.reviewData.compilationResult"> 成功
                          <span></span>
                        </label>
                        <label class="kt-radio">
                          <input type="radio"
                                 name="compilation"
                                 value="0"
                                 ng-checked="model.reviewData.compilationResult == 0"
                                 ng-model="model.reviewData.compilationResult"> 失败
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-right">
                      <span>运行结果：</span>
                    </div>
                    <div class="col-9">
                      <div class="kt-radio-inline">
                        <label class="kt-radio">
                          <input type="radio"
                                 name="run"
                                 value="1"
                                 ng-checked="model.reviewData.runResult == 1"
                                 ng-model="model.reviewData.runResult"> 正确
                          <span></span>
                        </label>
                        <label class="kt-radio">
                          <input type="radio"
                                 name="run"
                                 value="0"
                                 ng-checked="model.reviewData.runResult == 0"
                                 ng-model="model.reviewData.runResult"> 错误
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-right">
                      <a href="javascript:;" class="kt-widget__username kt-font-brand kt-link kt-font-bold">代码规范：</a>
                    </div>
                    <div class="col-9">
                      <div class="kt-radio-inline">
                        <label class="kt-radio">
                          <input type="radio"
                                 name="codeStandard"
                                 value="1"
                                 ng-checked="model.reviewData.codeStandardResult == 1"
                                 ng-model="model.reviewData.codeStandardResult"
                                 ng-change="onCodeStandardResultChange()"> 很好
                          <span></span>
                        </label>
                        <label class="kt-radio">
                          <input type="radio"
                                 name="codeStandard"
                                 value="0"
                                 ng-checked="model.reviewData.codeStandardResult == 0"
                                 ng-model="model.reviewData.codeStandardResult"
                                 ng-change="onCodeStandardResultChange()"> 不规范
                          <span></span>
                        </label>
                      </div>
                      <div class="kt-checkbox-list" ng-if="model.reviewData.isShowCodeStandardList" style="margin-top: 15px">

                        <label class="kt-checkbox kt-checkbox--tick kt-checkbox--danger"
                               ng-repeat="codeStandard in model.reviewData.codeStandardList">
                          <input type="checkbox"
                                 name="codeStandard"
                                 ng-value="codeStandard.codeStandardID"
                                 ng-click="onCodeStandardChange($event,codeStandard.codeStandardID)">
                          \{{codeStandard.codeStandardName}}
                          <span></span>
                        </label>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-right">
                      <span>综合评定：</span>
                    </div>
                    <div class="col-9">
                      <div class="kt-radio-inline">
                        <label class="kt-radio">
                          <input type="radio"
                                 name="result"
                                 value="1"
                                 ng-checked="model.reviewData.reviewResult == 1"
                                 ng-model="model.reviewData.reviewResult"> 通过
                          <span></span>
                        </label>
                        <label class="kt-radio">
                          <input type="radio"
                                 name="result"
                                 value="0"
                                 ng-checked="model.reviewData.reviewResult == 0"
                                 ng-model="model.reviewData.reviewResult"> 不通过
                          <span></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3 text-right">
                      <span>批改评语：</span>
                    </div>
                    <div class="col-9">
                      <textarea class="form-control" name="reviewMemo" rows="5" maxlength="500" ng-model="model.reviewData.reviewMemo"></textarea>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button"
                    id="btnReviewSubmit"
                    class="btn btn-primary"
                    ng-disabled="model.reviewData.compilationResult == -1
                              || model.reviewData.runResult == -1
                              || model.reviewData.codeStandardResult == -1
                              || (model.reviewData.codeStandardResult == 0 && model.reviewData.codeStandardErrorList.length == 0)
                              || model.reviewData.reviewResult == -1"
                    ng-click="onReviewSubmit()">
              提交批改结果
            </button>
          </div>
        </form>
      </div>
    </div>
    </div>

    <div class="modal fade" id="kt_modal_review_list" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">批改历史(共计\{{model.reviewHistory.totalCount}}条批改历史)</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <div class="kt-scroll ps ps--active-y"
               data-scroll="true"
               style="max-height: 500px; overflow: hidden;">
            <div class="kt-notes">
              <div class="kt-notes__items">
                <div class="kt-notes__item" ng-repeat="review in model.reviewHistory.dataList">
                  <div class="kt-notes__media">
                    <img ng-src="\{{review.reviewerTeacherPhoto}}" ng-if="review.reviewerType == 'T' && review.reviewerTeacherPhoto.length != 0" alt="image">
                    <img src="/media/users/teacher_default.png" ng-if="review.reviewerType == 'T' && review.reviewerTeacherPhoto.length == 0" alt="image">
                    <img ng-src="\{{review.reviewerStudentPhoto}}" ng-if="review.reviewerType == 'S' && review.reviewerStudentPhoto.length != 0" alt="image">
                    <img src="/media/users/teacher_default.png" ng-if="review.reviewerType == 'S' && review.reviewerStudentPhoto.length == 0" alt="image">
                  </div>
                  <div class="kt-notes__content">
                    <div class="kt-notes__section">
                      <div class="kt-notes__info">
                        <a href="" class="kt-notes__title" ng-bind="review.reviewerName"></a>
                        <span class="kt-notes__desc" ng-bind="review.createTime"></span>
                      </div>
                    </div>
                    <span class="kt-notes__body">
                      <div class="row">
                        <div class="col-md-6">
                          <span class="kt-font-bold">编译结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                                ng-class="{'kt-badge--danger': review.compilationResult == 'N', 'kt-badge--success': review.compilationResult == 'S'}"
                                ng-bind="review.compilationResultText">
                          </span>
                        </div>
                        <div class="col-md-6">
                          <span class="kt-font-bold">运行结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                                ng-class="{'kt-badge--danger': review.runResult == 'N', 'kt-badge--success': review.runResult == 'S'}"
                                ng-bind="review.runResultText">
                          </span>
                        </div>
                      </div>
                      <div class="space-5"></div>
                      <div class="row">
                        <div class="col-md-6">
                          <span class="kt-font-bold">编码规范：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                                ng-class="{'kt-badge--danger': review.codeStandardResult == 'N', 'kt-badge--success': review.codeStandardResult == 'S'}"
                                ng-bind="review.codeStandardResultText">
                          </span>
                        </div>
                        <div class="col-md-6">
                          <span class="kt-font-bold">综合结果：</span>
                          <span class="kt-badge kt-badge--inline kt-badge--pill"
                                ng-class="{'kt-badge--danger': review.reviewResult == 'N', 'kt-badge--success': review.reviewResult == 'S'}"
                                ng-bind="review.reviewResultText">
                          </span>
                        </div>
                      </div>
                      <div class="space-5"></div>
                      <div class="row">
                        <div class="col-md-12">
                          <span class="kt-font-bold">编码规范问题：</span>
                          <div class="kt-list-timeline">
													<div class="kt-list-timeline__items">
														<div class="kt-list-timeline__item" ng-repeat="codeStandard in review.codeStandardErrorList">
															<span class="kt-list-timeline__badge"></span>
															<span class="kt-list-timeline__text" ng-bind="codeStandard.codeStandardName"></span>
														</div>
													</div>
												</div>

                        </div>
                      </div>
                      <div class="space-5"></div>

                      <div class="row">
                        <div class="col-md-12">
                          <span class="kt-font-bold">批改评语：</span>
                          <p ng-bind="review.reviewMemo" class="pre-wrap"></p>
                        </div>
                      </div>
										</span>
                  </div>
                </div>
                <div class="text-center" ng-if="model.reviewHistory.dataList.length < model.reviewHistory.totalCount">
                  <button type="button" class="btn btn-link" ng-click="onLoadMoreReviewHistory()">
                    + 加载更多
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="alert alert-secondary" role="alert" ng-if="model.reviewHistory.totalCount == 0">
            <div class="alert-text">
              该习题暂没有批改历史！
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="kt_modal_leave_message" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form name="leaveMessageForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">回复\{{model.leaveMessage.questionerName}}的问题</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12">
                  <textarea class="form-control" name="answerMessage" maxlength="1000" rows="10" ng-model="model.leaveMessage.messageContent" placeholder="回复内容（最多1000字）" required></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button"
                      class="btn btn-primary"
                      id="btnSubmitAnswerMessage"
                      ng-click="onSubmitAnswerMessage()"
                      ng-disabled="leaveMessageForm.answerMessage.$pristine || (leaveMessageForm.answerMessage.$dirty && leaveMessageForm.answerMessage.$invalid)">回复
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="kt_modal_send_exercises" tabindex="-1" role="dialog" style="display: none;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form class="kt-form kt-form--label-right" name="sendExercisesForm" novalidate>
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">下发第\{{model.exercisesCourseClass}}节课习题</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group row kt-margin-0">
                <label for="example-number-input" class="col-4 col-form-label">每个知识点习题数量</label>
                <div class="col-8">
                  <input type="number" class="form-control" name="assignCount" maxlength="2" min="1" max="99" value="3" ng-model="model.assignCount" required>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button"
                      class="btn btn-info"
                      id="btnSendExercises"
                      ng-click="onAssignExercises()"
                      ng-disabled="sendExercisesForm.assignCount.$dirty && sendExercisesForm.assignCount.$invalid">
                发送
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" value="{{tabIndex}}" id="hidden_tabIndex">
<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/courseDetail.js');
  });
</script>