<link href="/stylesheets/plugins/github-markdown.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/views/knowledgeExercises4Student.css" rel="stylesheet" type="text/css" />

<div class="kt-container kt-grid__item kt-grid__item--fluid" ng-app="pageApp" ng-controller="pageCtrl">
	<div class="kt-subheader kt-grid__item">
		<div class="kt-container">
			<div class="kt-subheader__main">
			</div>
		</div>
	</div>
	<div class="text-center">
		<h3 ng-bind="model.title"></h3>
	</div>
	<form class="kt-form kt-form--label-right">
		<div class="kt-portlet__body">
			<div class="form-group row kt-margin-b-0">
				<label for="example-text-input" class="col-1 col-form-label">下发时间：</label>
				<div class="col-10">
					<label for="example-text-input" class="col-form-label text-left" ng-bind="model.createTime"></label>
				</div>
			</div>
			<div class="form-group row kt-margin-b-0">
				<label for="example-text-input" class="col-1 col-form-label">学生：</label>
				<div class="col-10">
					<label for="example-text-input" class="col-form-label text-left" ng-bind="model.studentName"></label>
				</div>
			</div>
			<div class="form-group row kt-margin-b-0">
				<label for="example-text-input" class="col-1 col-form-label">状态：</label>
				<div class="col-10">
					<label class="col-form-label text-left kt-badge kt-badge--inline kt-badge--pill" 
					ng-class="{'kt-badge--primary': model.exercisesStatus == 'P', 'kt-badge--warning': model.exercisesStatus == 'C', 'kt-badge--danger': model.exercisesStatus == 'R', 'kt-badge--success': model.exercisesStatus == 'S'}" 
					ng-bind="model.exercisesStatusText" style="margin-top: 8px;"></label>
				</div>
			</div>
			<div class="form-group row kt-margin-b-0">
				<label for="example-text-input" class="col-1 col-form-label">提交时间：</label>
				<div class="col-10">
					<label for="example-text-input" class="col-form-label text-left" ng-bind="model.submitTime"></label>
				</div>
			</div>
		</div>
	</form>

	<div class="exercises-list kt-margin-t-10">
		<div class="choice-list" ng-if="model.singleChoiceList.length > 0 || model.multipleChoiceList.length > 0">
			<h4 class="kt-padding-l-25">选择题</h4>
			<ol>
				<li ng-repeat="choice in model.singleChoiceList" ng-class="{'kt-margin-t-15' : choice.correctResult == 'P', 'kt-margin-t-10' : choice.correctResult != 'P'}">
						<div>
							<strong class="pre-wrap markdown-body" ng-bind-html="choice.exercisesTitleHtml"></strong>
						</div>
						<div style="margin-top: -20px;">
							<small>习题来源：</small>
							<small ng-bind="choice.exercisesSource"></small>
						</div>
						<div class="kt-margin-t-5">
							<small>考察知识点：</small>
							<small ng-bind="choice.knowledgeName"></small>
						</div>
						<div class="kt-margin-t-10">
							<div class="kt-radio-list">
								<label class="kt-radio kt-radio--disabled" 
									ng-repeat="option in choice.optionList">
									<input type="radio" 
									name="\{{choice.courseExercisesDetailID}}"
									disabled="disabled"
									ng-checked="option.optionID == choice.selectedOptionID"
									value="\{{option.optionID}}"> \{{option.optionText}}
									<span></span>
								</label> 
							</div>
						</div>
						<div class="kt-margin-t-15" ng-if="model.exercisesStatus != 'P'">
							<label>批改结果：</label>
							<label class="col-form-label text-left kt-badge kt-badge--inline kt-badge--pill"
								ng-class="{'kt-badge--success': choice.correctResult == 'Y', 'kt-badge--danger': choice.correctResult == 'N'}">
								<span ng-if="choice.correctResult == 'Y'"> <i class="fa fa-check"></i> 正确</span>	
								<span ng-if="choice.correctResult == 'N'"> <i class="fa fa-times"></i> 错误</span>	
							</label>
						</div>
					</li>

					<li ng-repeat="choice in model.multipleChoiceList" class="kt-margin-t-5-">
						<div>
							<strong class="pre-wrap markdown-body" ng-bind-html="choice.exercisesTitleHtml"></strong>
						</div>
						<div style="margin-top: -20px;">
							<small>习题来源：</small>
							<small ng-bind="choice.exercisesSource"></small>
						</div>
						<div class="kt-margin-t-5">
							<small>考察知识点：</small>
							<small ng-bind="choice.knowledgeName"></small>
						</div>
						<div class="kt-margin-t-10">
							<div class="kt-checkbox-list">
								<label class="kt-checkbox" ng-repeat="option in choice.optionList">
									<input type="checkbox" 
									name="\{{choice.courseExercisesDetailID}}" 
									value="\{{option.optionID}}" 
									ng-checked="choice.selectedOption.indexOf(option.optionID) >= 0"
									disabled="disabled"> \{{option.optionText}}
									<span></span>
								</label>
							</div>
						</div>
						<div class="kt-margin-t-15" ng-if="model.exercisesStatus != 'P'">
							<label>批改结果：</label>
							<label class="col-form-label text-left kt-badge kt-badge--inline kt-badge--pill"
								ng-class="{'kt-badge--success': choice.correctResult == 'Y', 'kt-badge--danger': choice.correctResult == 'N'}">
								<span ng-if="choice.correctResult == 'Y'"> <i class="fa fa-check"></i> 正确</span>	
								<span ng-if="choice.correctResult == 'N'"> <i class="fa fa-times"></i> 错误</span>	
							</label>
						</div>
					</li>

			</ol>
		</div>

		<div class="blank-list kt-margin-t-25" ng-if="model.blankList.length > 0">
			<h4 class="kt-padding-l-25">填空题</h4>
			<ol>
				<li ng-repeat="blank in model.blankList" class=" kt-margin-t-5">
					<div class="title">
						<strong class="text-pre-wrap markdown-body" ng-bind-html="blank.exercisesTitleHtml"></strong>
					</div>
					<div class="source kt-margin-t-5-">
						<small>习题来源：</small>
						<small ng-bind="blank.exercisesSource"></small>
					</div>
					<div class="knowledge kt-margin-t-10">
						<small>考察知识点：</small>
						<small ng-bind="blank.knowledgeName"></small>
					</div>
					<div class="answer kt-margin-t-15">
						<label style="border-bottom: 1px solid #cccccc; width: 360px" ng-bind="blank.fillInContent"></label>
					</div>
					<div class="kt-margin-t-10" ng-if="model.exercisesStatus != 'P'">
							<label>批改结果：</label>
							<label class="col-form-label text-left kt-badge kt-badge--inline kt-badge--pill"
								ng-class="{'kt-badge--success': blank.correctResult == 'Y', 'kt-badge--danger': blank.correctResult == 'N'}">
								<span ng-if="blank.correctResult == 'Y'"> <i class="fa fa-check"></i> 正确</span>	
								<span ng-if="blank.correctResult == 'N'"> <i class="fa fa-times"></i> 错误</span>	
							</label>
						</div>
				</li>
			</ol>

		</div>

		<div class="program-list kt-margin-t-25" ng-if="model.programList.length > 0">
			<h4 class="kt-padding-l-25">编程题</h4>
			<ol>
				<li ng-repeat="program in model.programList">
					<div class="title kt-margin-t-10" ng-if="program.exercisesSourceType == 1">
						<strong class="text-pre-wrap markdown-body" ng-bind-html="program.exercisesTitleHtml"></strong>
						<strong class="kt-margin-l-10" 
							ng-if="program.correctResult !== 'P'"
							ng-class="{'kt-font-success': program.correctResult == 'Y', 'kt-font-danger': program.correctResult == 'W'}"> 
							<i class="fa" ng-class="{'fa-check': program.correctResult == 'Y', 'fa-times': program.correctResult == 'W'}"></i>
						</strong>
					</div>
					<div class="title kt-margin-t-10" ng-if="program.exercisesSourceType == 0">
						<strong>请按照以下文件中的要求编写程序：</strong> <br>
						<a ng-href="\{{program.exercisesDocUri}}" class="kt-link kt-link--brand kt-margin-t-5" target="_blank" ng-bind="program.exercisesTitle"></a>
					</div>
					<div class="source kt-margin-t-5-" ng-if="program.exercisesSourceType == 1">
						<small>习题来源：</small>
						<small ng-bind="program.exercisesSource">题目来源</small>
					</div>
					<div class="knowledge kt-margin-t-5">
						<small>考察知识点：</small>
						<small ng-bind="program.knowledgeName"></small>
					</div>
					<div class="source-code kt-margin-t-5">
						<label style="font-size: 1rem;">练习代码：</label>
						<a ng-href="\{{program.sourceCodeUrl}}" class="kt-link kt-link--brand kt-margin-t-10" target="_blank" ng-if="model.exercisesStatus != 'P'">查看学生代码</a>
						<a href="javascript:" class="kt-link kt-link--success kt-margin-t-10" ng-if="program.correctResult !== 'P'">查看批改结果</a>
					</div>
					<div class="kt-margin-t-5" ng-if="model.exercisesStatus != 'P'">
							<label>批改结果：</label>
							<label class="col-form-label text-left kt-badge kt-badge--inline kt-badge--pill"
								ng-class="{'kt-badge--warning': program.correctResult == 'P', 'kt-badge--success': program.correctResult == 'Y', 'kt-badge--danger': program.correctResult == 'N'}">
								<span ng-if="program.correctResult == 'P'">批改中</span>	
								<span ng-if="program.correctResult == 'Y'"> <i class="fa fa-check"></i> 正确</span>	
								<span ng-if="program.correctResult == 'N'"> <i class="fa fa-times"></i> 错误</span>	
							</label>
						</div>
				</li>
			</ol>
		</div>

	</div>

</div>
<input type="hidden" value="{{courseExercisesID}}" id="hidden_courseExercisesID">
<script>
	$(document).ready(function () {
		commonUtility.appendScript('/javascripts/views/knowledgeExercises4Student.js');
	});
</script>