<link href="/stylesheets/views/myCourse.css" rel="stylesheet" type="text/css" />

<div ng-app="pageApp" ng-controller="pageCtrl">
  <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid" style="max-height: 132px">
    <div class="course-center-header"></div>
  </div>

  <!-- begin:: 未登录 -->
  <div class="row" ng-if="model.isLogin == false">
    <div class="col-xl-12">
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="kt-widget kt-widget--user-profile-3 text-center">
            您还没有登陆，<a class="kt-font-brand kt-link kt-font-bold" href="/login?backUrl=/myCourse">现在登陆</a>查看我的课程
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end:: 未登录 -->

  <!-- begin:: 已登录 -->
  <div ng-if="model.isLogin == true">
    <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid category-2">
      <div class="kt-container kt-grid__item kt-grid__item--fluid">
        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" style="opacity: 1;">
          <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
            <span class="filter-title">研发方向：</span>
            <ul class="kt-menu__nav ">
              <li class="kt-menu__item" ng-class="{'kt-menu__item--here': model.selectedDirection.directionID == 0}">
                <a href="javascript:" class="kt-menu__link" ng-click="onFilterByDirection()">
                  <span class="kt-menu__link-text">全部</span>
                </a>
              </li>
              <li class="kt-menu__item" ng-repeat="direction in model.directionList" ng-class="{'kt-menu__item--here': model.selectedDirection.directionID == direction.directionID}">
                <a href="javascript:" class="kt-menu__link" ng-click="onFilterByDirection(direction)">
                  <span class="kt-menu__link-text" ng-bind="direction.directionName"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-container--fluid kt-grid__item kt-grid__item--fluid category-3">
      <div class="kt-container kt-grid__item kt-grid__item--fluid ">
        <div class="kt-header-menu-wrapper kt-grid__item kt-grid__item--fluid" style="opacity: 1;">
          <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
            <span class="filter-title">技术分类：</span>
            <ul class="kt-menu__nav ">
              <li class="kt-menu__item" ng-class="{'kt-menu__item--here': model.selectedCategory.categoryID == 0}">
                <a href="javascript:" class="kt-menu__link" ng-click="onFilterByCategory()">
                  <span class="kt-menu__link-text">全部</span>
                </a>
              </li>
              <li class="kt-menu__item"
                  ng-repeat="category in model.categoryList"
                  ng-class="{'kt-menu__item--here': model.selectedCategory.categoryID == category.technologyCategoryID}">
                <a href="javascript:" class="kt-menu__link" ng-click="onFilterByCategory(category)">
                  <span class="kt-menu__link-text" ng-bind="category.technologyCategoryName"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <!-- begin:: 查询条件 -->
      <div class="row course-filter">
        <div class="col-md-6">
          <button type="button"
                  class="btn btn-pill btn-elevate btn-sm"
                  ng-repeat="time in model.timeList"
                  ng-class="{'btn-info': model.selectedTime.timeCode == time.timeCode, 'btn-outline-hover-info': model.selectedTime.timeCode != time.timeCode}"
                  ng-bind="time.timeText"
                  ng-click="onSelectedTime(time)"></button>
        </div>
        <div class="col-md-6 text-right">
          <button type="button"
                  class="btn btn-elevate btn-pill btn-sm"
                  ng-repeat="status in model.dataStatusList"
                  ng-class="{'btn-warning': model.selectedDataStatus.statusCode == status.statusCode, 'btn-outline-hover-warning': model.selectedDataStatus.statusCode != status.statusCode}"
                  ng-bind="status.statusText"
                  ng-click="onSelectDataStatus(status)"></button>
        </div>
      </div>
      <!-- end:: 查询条件 -->

      <div class="space-10"></div>

      <!-- begin:: 未查询到数据 -->
      <div class="row" ng-if="model.isLogin && model.courseTotalCount == 0">
        <div class="col-xl-12">
          <div class="kt-portlet">
            <div class="kt-portlet__body">
              <div class="kt-widget kt-widget--user-profile-3 text-center">
                没有查询到满足条件的课程
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: 未查询到数据 -->

      <!-- begin:: 课程数据 -->
      <div class="kt-portlet" ng-repeat="course in model.courseList" ng-if="model.isLogin && model.courseTotalCount !== 0">
        <div class="kt-portlet__body">
          <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
              <div class="kt-widget__pic kt-font-boldest kt-font-light btn-option"
                   ng-class="{'kt-widget__pic--success kt-font-success': $index%2 == 0, 'kt-widget__pic--danger kt-font-danger': $index%2 != 0}"
                   ng-click="onOpenTechnologyInfo(course.technologyID)"
                   ng-bind="course.technologyName">
              </div>
              <div class="kt-widget__content">
                <div class="kt-widget__head">
                  <a href="javascript:;" class="kt-widget__username kt-font-brand kt-link kt-font-bold" ng-bind="course.courseName" ng-click="onOpenCourseDetail(course, 0)"></a>
                  <div class="kt-widget__action">
                    <span class="kt-badge kt-badge--inline kt-badge--info" ng-if="course.dataStatus == 'P'">未开始</span>
                    <span class="kt-badge kt-badge--inline kt-badge--success" ng-if="course.dataStatus == 'F'">已结束</span>
                    <button type="button" class="btn btn-label-success btn-sm btn-upper" ng-click="onOpenCourseDetail(course, 2, 6)" ng-if="course.dataStatus == 'A'">批改作业</button>&nbsp;
                    <button type="button" class="btn btn-label-danger btn-sm btn-upper" ng-click="onFinishCourse(course)" ng-if="course.dataStatus == 'A'">授课完成</button>
                  </div>
                </div>
                <div class="kt-widget__subhead">
                <span>
                  <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                  <span ng-bind="course.courseTimeBegin"></span>
                  <span>~</span>
                  <span ng-bind="course.courseTimeEnd"></span>
                </span>
                </div>
                <div class="kt-widget__info">
                  <div class="kt-widget__desc">
                    <p class="course-decs" title="\{{course.courseIntroduction}}" ng-bind="course.courseIntroduction">
                    </p>
                  </div>
                  <div class="kt-widget__progress shs-progress">
                    <div class="kt-widget__text">
                      Progress
                    </div>
                    <div class="progress" style="height: 5px;width: 100%;">
                      <div class="progress-bar"
                           role="progressbar"
                           ng-class="{'kt-bg-success': $index%2 == 0, 'kt-bg-danger': $index%2 != 0}"
                           ng-style="{'width':course.courseProcess}"></div>
                    </div>
                    <div class="kt-widget__stats" ng-bind="course.courseProcess">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-widget__bottom">
              <div class="kt-widget__item">
                <div class="kt-widget__icon">
                  <i class="fa fa-handshake"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">使用该技术的企业</span>
                  <a href="javascript:;" class="kt-widget__value no-hand">
                    \{{course.courseTechnologyUsingCompanyCount}}家
                  </a>
                </div>
              </div>
              <div class="kt-widget__item">
                <div class="kt-widget__icon">
                  <i class="flaticon-list-3"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">涵盖知识点</span>
                  <a href="javascript:;" class="kt-widget__value no-hand">
                    \{{course.courseKnowledgeCount}}/\{{course.technologyKnowledgeCount}}
                  </a>
                </div>
              </div>
              <div class="kt-widget__item">
                <div class="kt-widget__icon">
                  <i class="flaticon-list"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">涵盖练习题</span>
                  <a href="javascript:;" class="kt-widget__value no-hand">
                    \{{course.courseKnowledgeExercisesCount}}
                  </a>
                </div>
              </div>
              <div class="kt-widget__item">
                <div class="kt-widget__icon">
                  <i class="flaticon2-user"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">报名学生</span>
                  <a href="javascript:;" class="kt-widget__value no-hand">
                    \{{course.courseSingUpCount}}
                  </a>
                </div>
              </div>
              <div class="kt-widget__item">
                <div class="kt-widget__icon">
                  <i class="flaticon-chat-1"></i>
                </div>
                <div class="kt-widget__details">
                  <span class="kt-widget__title">在线提问</span>
                  <a href="javascript:;" class="kt-widget__value no-hand">
                    \{{course.courseQuestionFinish}}/\{{course.courseQuestion}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end:: 课程数据 -->

      <!-- begin:: 加载更多 -->
      <div class="row" ng-if="model.isLogin && model.courseList.length > 0 && model.courseList.length < model.courseTotalCount">
        <div class="col-xl-12 text-center">
          <button type="button" class="btn btn-secondary btn-elevate btn-pill" ng-click="onLoadMoreCourse()" ><i class="fa fa-sync-alt"></i>加载更多</button>
        </div>
      </div>
      <!-- end:: 加载更多 -->
    </div>
  </div>
  <!-- end:: 已登录 -->
</div>

<script>
  $(document).ready(function () {
    commonUtility.appendScript('/javascripts/views/myCourse.js');
  });
</script>